# Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/
ENV/
.env

# Flask
instance/
.webassets-cache

# Node / React
node_modules/
frontend/node_modules/
frontend_vite_cache/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/
dist/
.npm

# Project Specific
images/
static/uploads/*
!static/uploads/.gitkeep
static/heatmaps/*
!static/heatmaps/.gitkeep
data/
data_multi/
frontend_vite_cache/

# Models (Optional: Large files usually ignored in Git)
model/*.h5

# OS
.DS_Store
Thumbs.db
desktop.ini
